.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-circle {
  border: 10px solid rgba(92, 177, 239, 0.2);
  border-top: 10px solid rgb(92, 177, 239);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
