.play-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e59671;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 72px;
  text-align: center;
  line-height: 72px;
  cursor: pointer;
  z-index: 10;
}

.play-btn img {
  width: 24px;
  height: 24px;
}

.play-btn:hover {
  background-color: rgb(11, 120, 153);
}

/* For Mobile Screens */
@media only screen and (max-width: 600px) {
  .play-btn {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
  }

  .play-btn img {
    width: 20px;
    height: 20px;
  }
}

/* For Tablet Screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .play-btn {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    line-height: 80px;
  }

  .play-btn img {
    width: 30px;
    height: 30px;
  }
}
