@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

canvas {
  cursor: default;
}

canvas:hover {
  cursor: pointer;
}

.logo-container {
  position: absolute;
  top: 70px;
  left: 90px;
  z-index: 10;
}

.logo-container img {
  width: 158.44px;
  height: 63.506px;
  flex-shrink: 0;
}
