@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn3d.iconscout.com/3d/premium/thumb/cloud-3100509-2589436.png"),
    linear-gradient(to bottom, rgb(134, 180, 241) 0%, rgb(157, 193, 255) 100%);
  background-repeat: repeat-x;
  animation: moveClouds 55s linear infinite;
  overflow: auto;
}

@keyframes moveClouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 0;
  }
}

#root {
  height: 100vh;
  width: 100vw;

}

canvas {
  cursor: default;
}

canvas:hover {
  cursor: pointer;
  /* cursor: url("path-to-magic-wand-cursor.png"), auto; */
}

.info-box {
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.6) 0%,
    rgba(202, 223, 255, 0.6) 100%
  );
  border: 1px solid #73b1ff;
  border-radius: 20px;
  padding: 31px 36px 31px 37px;
  backdrop-filter: blur(35px);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: floatAnimation 3s ease-in-out infinite;
  color: #1d2235;
  font-size: 26px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  z-index: 10;
}

.info-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box button {
  background: #406aff;
  border-radius: 12px;
  padding: 16px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.info-box button a {
  color: #fff;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.info-box.visible {
  opacity: 1;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.logo-container {
  position: absolute;
  top: 70px;
  left: 90px;
  z-index: 10;
}

.logo-container img {
  width: 158.44px;
  height: 63.506px;
  flex-shrink: 0;
}

.play-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e59671;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 72px;
  text-align: center;
  line-height: 72px;
  cursor: pointer;
  z-index: 10;
}

.play-btn img {
  width: 24px;
  height: 24px;
}

.play-btn:hover {
  background-color: rgb(11, 120, 153);
}

.hint-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  animation: dragAndPulseAnimation 3s ease-in-out infinite;
  font-weight: bold;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@keyframes dragAndPulseAnimation {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
  }
  25% {
    transform: translateX(-60%) scale(1.05);
  }
  50% {
    transform: translateX(-50%) scale(1);
  }
  75% {
    transform: translateX(-40%) scale(1.05);
  }
}
