@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgb(134, 180, 241) 0%,
    rgb(157, 193, 255) 100%
  );
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  cursor: default;
}

canvas:hover {
  cursor: pointer;
  /* cursor: url("path-to-magic-wand-cursor.png"), auto; */
}

.info-box {
  background-color: rgba(253, 246, 227, 0.9);
  border: 2px solid #3e4e50;
  padding: 20px;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: floatAnimation 3s ease-in-out infinite;
}

.info-box.visible {
  opacity: 1;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.play-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #4b0082;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.play-btn:hover {
  background-color: rgb(11, 120, 153);
  color: white;
}

@keyframes moveClouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 0;
  }
}

body {
  background-image: url("https://cdn3d.iconscout.com/3d/premium/thumb/cloud-3100509-2589436.png"),
    linear-gradient(to bottom, rgb(134, 180, 241) 0%, rgb(157, 193, 255) 100%);
  background-repeat: repeat-x;
  animation: moveClouds 55s linear infinite;
}

button {
  background-color: #8b4513;
  border: 2px solid #3e4e50;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Papyrus", fantasy;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}
