.contact-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.8) 0%,
    rgba(202, 223, 255, 0.8) 100%
  );
  backdrop-filter: blur(35px);
  overflow: auto;
  padding: 5% 10%;
}

.contact-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.contact-title {
  color: #1d2235;
  font-size: 36px;
  font-family: "Manrope", Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input-label {
  color: #1d2235;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.18px;
}

.input-field {
  width: 530px;
  height: 56px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #e5efff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

.input-field-message {
  width: 530px;
  height: 100px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #e5efff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

.input-field::placeholder,
.input-field-message::placeholder {
  color: #888;
}

.send-button {
  display: flex;
  width: 530px;
  height: 54px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #406aff !important;
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  cursor: pointer;
  color: #f0fdf4;
  font-size: 16px;
  font-family: "Manrope", Arial, sans-serif;
  font-weight: 800;
  line-height: 22px;
}

.send-button:hover {
  background-color: #2f55d4 !important;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 530px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.or-contact-via {
  color: #333f51;
  font-size: 18px;
  font-family: "Manrope", Arial, sans-serif;
  font-weight: 500;
  line-height: 22px;
}

.email-info,
.phone-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1d2235;
  font-size: 18px;
  font-family: "Manrope", Arial, sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.social-icons img {
  width: 36px;
  height: 36px;
}

/* Media queries for tablet responsiveness */
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 5% 5%;
  }

  .contact-title {
    font-size: 28px;
  }

  .contact-form {
    width: 100%;
  }

  .input-field,
  .input-field-message {
    width: 100%;
  }

  .send-button {
    width: 100%;
  }

  .contact-info {
    max-width: 100%;
  }
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 480px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5% 5%;
  }

  .contact {
    flex: 1;
    max-height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .contact-canvas-container {
    position: static;
    width: 100%;
    height: 30vh;
    pointer-events: none;
    z-index: -1;
  }

  .contact-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .contact-form {
    gap: 0px;
  }

  .input-label {
    font-size: 14px;
  }

  .input-field {
    width: 330px;
    height: 46px;
  }

  .input-field-message {
    height: 60px;
  }

  .send-button {
    height: 46px;
    font-size: 14px;
    margin-top: 10px;
  }

  .contact-info {
    gap: 0px;
    padding: 10px;
  }

  .social-icons img {
    width: 24px;
    height: 24px;
  }

  .or-contact-via {
    font-size: 14px;
    margin-top: 10px;
  }

  .email-info,
  .phone-info {
    font-size: 12px;
  }
}
