.studies-text {
  color: #1d2235;
  text-align: center;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media only screen and (max-width: 600px) {
  .studies-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .studies-text {
    font-size: 24px;
  }
}
