.testimonials {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.8) 0%,
    rgba(202, 223, 255, 0.8) 100%
  );
  backdrop-filter: blur(35px);
  overflow: auto;
  padding: 126px 150px 115px 150px;
}

.testimonials-title {
  color: #1d2235;
  font-size: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 50px;
}

.testimonials-cards-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.testimonial-card {
  width: 627px;
  height: 610px;
  border-radius: 20px;
  margin: 20px;
}

.testimonial-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.bottom-image-left,
.bottom-image-right {
  position: absolute;
  bottom: 20px;
  width: 594px;
  height: 412px;
  flex-shrink: 0;
  opacity: 0.44999998807907104;
}

.bottom-image-left {
  left: 20px;
}

.bottom-image-right {
  right: 20px;
}

.canvas {
  width: 400px;
  height: 400px;
}
