.testimonials {
  display: flex;
  flex-direction: column;
  padding: 126px 150px 115px 150px;
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.6) 0%,
    rgba(202, 223, 255, 0.6) 100%
  );
  backdrop-filter: blur(35px);
}

.testimonials-title {
  color: #1d2235;
  font-size: 48px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: -0.96px;
}

.testimonials-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 160px;
  width: 90%;
}

.testimonial-card {
  width: 627px;
  height: 610px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.bottom-image-left,
.bottom-image-right {
  position: absolute;
  bottom: 20px;
  width: 594px;
  height: 412px;
  flex-shrink: 0;
  opacity: 0.44999998807907104;
}

.bottom-image-left {
  left: 20px;
}

.bottom-image-right {
  right: 20px;
}
