.navbar-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.8) 0%,
    rgba(202, 223, 255, 0.8) 100%
  );
  backdrop-filter: blur(35px);
  border-radius: 20px;
  border: 1px solid #73b1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.navbar-sidebar.open {
  transform: translateX(0);
}

.navbar-sidebar li {
  margin: 50px 0;
  text-decoration: none;
  color: #1d2235;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.96px;
  cursor: pointer;
}

.navbar-sidebar li.active {
  color: #406aff;
}

.navbar-sidebar li.active::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 29px;
  height: 29px;
  border-radius: 29px;
  background: #406aff;
}

.navbar-sidebar li:hover {
  color: #406aff;
  cursor: pointer;
}

.navbar-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 57px;
  height: 57px;
  color: #406aff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compass-icon {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 57px;
  height: 57px;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .navbar-sidebar {
    position: sticky;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    z-index: 100;
  }

  .navbar-sidebar li {
    font-size: 24px;
    margin: 30px 0;
  }

  .navbar-close-icon {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
  }

  .compass-icon {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-sidebar li {
    font-size: 36px;
  }

  .navbar-sidebar a {
    font-size: 36px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .compass-icon {
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
  }
}
