@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fab-button:hover {
  background-color: #45a049;
}

canvas {
  cursor: default;
}

canvas:hover {
  cursor: pointer;
}
