.control-panel {
  position: fixed;
  top: 200px;
  left: 10px;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

/* put control panel buttons at he left side of the screen */
.stop-tour-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: rgba(40, 36, 36, 0.6);
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.stop-tour-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.info-btn {
  position: fixed;
  bottom: 10px;
  right: 225px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: rgba(40, 36, 36, 0.6);
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.mesh-list {
  list-style: none;
  padding: 0;
  background: rgba(40, 36, 36, 0.6);
}

.mesh-list li {
  cursor: pointer;
  padding-bottom: 10px;
}

.mesh-list li:hover {
  background: rgba(0, 0, 0, 0.9);
}