.overlay-content {
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  padding: 0px 50px 0px 50px;
  border-radius: 15px;
  background: rgba(
    27,
    20,
    40,
    0.9
  ); /* dark purple, similar to the wallpaper at the computer */
  color: rgb(92, 177, 239); /* light blue, similar to the lights */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
