.loader {
  border: 8px solid rgba(92, 177, 239, 0.2); /* Light blue, similar to the lights */
  border-top: 8px solid rgb(92, 177, 239); /* Light blue, similar to the lights */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
