.modal-content {
  padding: 20px;
  color: #ffffff;
}

.modal-content p {
  padding-bottom: 20px;
}

.modal-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.modal-heading p {
  color: #92b7ef;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.modal-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal-list {
  font-size: 1.2em;
}

.socials a {
  color: #ffffff;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #92b1ef;
}
