.modal-content {
  padding: 20px;
  color: #ffffff;
}

.modal-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.modal-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal-list {
  font-size: 1.2em;
}
