.social-card {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(92, 177, 239); /* light blue, similar to the lights */
  background: rgba(30, 6, 13, 0.6); /* Dark red, similar to our wallpaper */
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background: rgb(
      90,
      193,
      77
    ); /* Green color on hover, similar to our bedsheet and Japanese symbol */
    color: white;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
