.about-me-card {
  width: 627px;
  height: 610px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #73b1ff;
  background: linear-gradient(
    180deg,
    rgba(149, 193, 255, 0.6) 0%,
    rgba(202, 223, 255, 0.6) 100%
  );
  backdrop-filter: blur(35px);
  position: absolute;
  top: 150px;
  left: 70px;
}

.about-me-group {
  width: 571px;
  height: 451px;
  flex-shrink: 0;
  padding: 54px 28px 105px 28px;
}

.about-me-title {
  color: #1d2235;
  font-size: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 37px;
}

.about-me-profile-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-me-profile-picture {
  width: 90px;
  height: 90px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 90px;
  background: lightgray 50% / cover no-repeat;
}

.about-me-greetings {
  font-size: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-me-greetings .about-me-hi {
  color: #363f62;
}

.about-me-greetings .about-me-name {
  color: #406aff;
}

.about-me-vector-image {
  width: 207.939px;
  height: 47.579px;
  margin-top: 10px;
}

.about-me-description {
  display: flex;
  width: 571px;
  margin-top: 30px;
  flex-direction: column;
  flex-shrink: 0;
  color: #363f62;
  font-size: 17.76px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.about-me-next-button {
  position: absolute;
  right: 28px;
  display: flex;
  width: 237px;
  padding: 16px 20px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  background-color: #406aff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
